#comment {
    margin-left: 30px;
}

#space {
    margin-bottom: 10px;
    padding: 50px;
    padding-left: 50px;
}
#parentc {
    background-color: inherit;
}
#buton {
    margin-left: 1px;
}

.childc {
    display: inline-block;
    width: 50%;
}